body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
margin:0;
}

.screen{
display:none;
padding:20px;
}

#screen1{
display:block;
}

.roundRow{
margin:20px;
font-size:22px;
}

button{
font-size:22px;
padding:10px 16px;
margin:6px;
}

.bigButton{
margin-top:20px;
font-size:24px;
}

.moveRow{
margin:10px;
}

.moveBtn{
font-size:28px;
padding:10px 14px;
}

.selected{
background:#4CAF50;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

td{
padding:10px;
font-size:28px;
}

.win{
background:#2e7d32;
}

.lose{
background:#c62828;
}

.draw{
background:#555;
}
